/* Font Poppins */
/* font-family: "Poppins", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #efefef;
}

h2 {
    text-align: center;
    padding: 10px;
}

/* nav */

.header-index {
    height: 100vh;
    background-image: url(../assets/img/hero.png);
    background-position: center top;
    background-size: cover;
}

.header-musica {
    height: 100vh;
    background-image: url(../assets/img/hero-musica.jpg);
    background-position: center top;
    background-size: cover;
}

.header-bio {
    height: 100vh;
    background-image: url(../assets/img/hero-biografia.jpg);
    background-position: center top;
    background-size: cover;
}

.header-olam {
    height: 100vh;
    background-image: url(../assets/img/hero-olam.png);
    background-position: center top;
    background-size: cover;
}

.header-zomoz {
    height: 100vh;
    background-image: url(../assets/img/hero-zomoz.jpg);
    background-position: center top;
    background-size: cover;
}

.nav {
    padding: 15px;
    background-color: rgba(41, 40, 35, 0.509);
}

.nav a {
    color: #efefef;
}

.navbar-toggler {
    color: transparent;
    background-color: transparent;
    border: 1px solid transparent;
}

.offcanvas {
    bottom: auto;
    color: #efefef;
    background-color: rgba(41, 40, 35, 0.509);
}

.offcanvas-header{
    flex-direction: row-reverse;
    background-color: rgba(41, 40, 35);
    justify-content: space-between;
    height: 4.6875rem;
}

.btn-close{
    color: #efefef;
    background-color: #efefef;
}


/* index */

/* video */
.video-reciente {
    text-align: center;
    margin: 1rem 0;
}

.video {
    width: 560px;
    height: 315px;
}

/* musica index */
.discografia {
    background-color: black;
    color: #efefef;
    text-align: center;
    margin: 1rem 0;
}

.ver-mas {
    text-align: end;
    padding: 1rem 3rem;
}

.ver-mas a {
    color: #efefef;
    font-weight: 500;
}

/* quien es dariana index */
.title-qed {
    grid-area: a;
}

.article-qed {
    grid-area: b;
    width: 70%;
    text-align: end;
    justify-self: end;
    padding-right: 1rem;
}

.img-about {
    grid-area: c;
    width: 60%;
    justify-self: start;
}

.quien-es-dari {
    display: grid;
    grid-template-areas:
        "a a"
        "b c"
        "b c";
    align-items: center;
    justify-items: center;
    margin: 1rem 0;
}

.img-about img {
    width: 100%;
}

.leer-mas {
    padding-top: 1rem;
}

.leer-mas a {
    color: black;
    font-weight: 500;
}

/* olam index */
.title-olam {
    grid-area: d;
}

.img-olam {
    grid-area: e;
    width: 70%;
    justify-self: end;
}

.img-olam img {
    width: 100%;
}

.article-olam {
    grid-area: f;
    width: 70%;
    text-align: start;
    justify-self: start;
    padding-left: 1rem;
}

.olam {
    display: grid;
    grid-template-areas:
        "d d"
        "e f"
        "e f";
    align-items: center;
    justify-items: center;
    margin: 1rem 0;
    background-color: black;
    padding: 1rem 0;
}

.article-olam p {
    color: #efefef;
}

.saber-mas-olam {
    padding-top: 1rem;
}

.saber-mas-olam a {
    color: #efefef;
    font-weight: 500;
}

.olam h2 {
    color: #5292F2;
}

/* zomoz index*/
.title-zomoz {
    grid-area: g;
}

.img-zomoz {
    grid-area: h;
    width: 70%;
    justify-self: end;
}

.img-zomoz img {
    width: 100%;
}

.article-zomoz {
    grid-area: i;
    width: 70%;
    text-align: start;
    justify-self: start;
    padding-left: 1rem;
}

.zomoz {
    display: grid;
    grid-template-areas:
        "g g"
        "h i"
        "h i";
    align-items: center;
    justify-items: center;
    margin: 1rem 0;
    padding: 1rem 0;
}

.saber-mas-zomoz {
    padding-top: 1rem;
}

.saber-mas-zomoz a {
    color: black;
    font-weight: 500;
}

/* musica */
.title {
    text-align: center;
}

.music {
    padding: 1rem 5rem;
}

/* biografia */
.bio-1 {
    grid-area: b1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding-bottom: 1rem;
}

.bio-2 {
    grid-area: b2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding-bottom: 1rem;
}

.bio-p {
    width: 50%;
}

.bio-img {
    width: 30%;
}

.bio-img img {
    width: 100%;
}

.bio-3 {
    position: relative;
}

.bio-3 img {
    width: 100%;
}

.bio-absolute {
    position: absolute;
    width: 40%;
    top: 20%;
    left: 15%;
}

.quote-name {
    font-weight: bold;
    padding-top: 0.5rem;
}

.bio {
    display: grid;
    grid-template-areas:
        "b1 b1"
        "b2 b2";
    padding: 0 4rem;
}

/* olam */
.olam-info {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.malo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 200px;
    color: #efefef;
    font-size: 5rem;
    font-weight: bold;
}

.escucha-olam {
    background-color: black;
    color: #efefef;
    text-align: center;
    padding: 1rem 0;
}

.olam-acustico {
    text-align: center;
    margin: 1rem 0;
}

/* zomoz */
.escucha-zomoz {
    background-color: black;
    color: #efefef;
}

.video-ig img {
    width: 30%;
}

/* footer */
footer {
    background-color: black;
    text-align: center;
    padding: 1rem;
}

footer p {
    color: #efefef;
}

/* pseudo */
.ver-mas a:hover,
.saber-mas-olam a:hover {
    border-bottom: 1px solid #efefef;
}

.leer-mas a:hover,
.saber-mas-zomoz a:hover {
    border-bottom: 1px solid black;
}

.nav-link:hover,
.nav-link:focus {
    color: #efefef;
    font-weight: 600;
}

.active {
    border-bottom: 1px solid #efefef;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: #efefef;
}


/* media queries */
@media (max-width: 768px) {
    .video {
        width: 70%;
        height: 70%;
    }

    .header-olam {
        height: 50vh;
    }

    .img-about {
        width: 80%;
    }

    .bio-p {
        width: 80%;
    }

    .bio-img {
        width: 60%;
    }

    .bio-absolute {
        font-size: 10px;
        width: 50%;
        top: 15%;
        left: 5%;
    }
}

@media (max-width: 426px) {

    .header-index,
    .header-musica,
    .header-bio,
    .header-olam,
    .header-zomoz {
        height: 50vh;
    }

    .video {
        width: 70%;
        height: 70%;
    }

    .quien-es-dari {
        grid-template-areas:
            "a"
            "c"
            "b";
    }

    .olam {
        grid-template-areas:
            "d"
            "e"
            "f";
    }

    .zomoz {
        grid-template-areas:
            "g"
            "h"
            "i";
    }

    .article-qed,
    .article-olam,
    .article-zomoz {
        text-align: center;
        justify-self: center;
    }

    .leer-mas,
    .saber-mas-olam,
    .saber-mas-zomoz {
        text-align: end;
    }

    .img-about,
    .img-olam,
    .img-zomoz {
        justify-self: center;
    }

    .bio-1 {
        flex-direction: column;
    }

    .bio-2 {
        flex-direction: column-reverse;
    }

    .bio {
        grid-template-areas:
            "b1"
            "b2";
    }

    .bio-absolute {
        font-size: 8px;
        width: 60%;
        top: 20%;
        left: 5%;
    }

    .malo {
        font-size: 3rem;
    }

    .olam-info {
        width: 100%;
    }

    .video-ig img {
        width: 50%;
    }

}